body{
 background-color: white;

}
.top-group{
  gap: 20%;
  display: flex;
  align-items: center;
  justify-items: center;
}
.container {
 
  margin-bottom: 20px;;
  margin-left: 19rem;
  display: flex;
}

.add{

  margin-left: 40rem;
}
.addtable{
  
  margin-left: 40rem;
}
.tab2{
width: 60rem;
}
.centered-text {
  text-align: center;
  font-weight: 600;
  
}
img{
  height: auto;
  width: 100px;
}
.h2{
  text-align: center;
 
  font-size: 35px;
}

.table1 {
 
  width: 45rem;
  flex: 0 1 30%; /* set width of left column */

  background-color: #fff;
  border-collapse: collapse;
  border-style: inset; /* add beveled border */
  border-width: 5px;


}
.smol{ 

  font-weight: bold;
  width: fit-content;
}

.table2 {

  width: 22rem;
  flex: 1; /* set width of right column */
  background-color: #fff;
  border-collapse: collapse;
  border-style: inset; /* add beveled border */
  border-width: 5px;
}
.table1 th{
  width: 200px;
}
.table1 th,
.table1 td,
.table2 th,
.table2 td {
  padding: 0.75rem;
 
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.navbar {
	height: 50px;
}

.table1 th {
  text-align: center;
}

.table1 td {
  text-align: left;
}

.table2 th {
  text-align: center;
}

.table2 td {
  text-align: left;
}
.archive{
  margin-left:2rem;
  
}

.btn {
 
  font-size: smaller;
}
.upload-btn{
  height:35px;
}

.row{
  margin-top: -10px;
  width: 100rem;
}
 /* Media query for responsive sidebar */
 @media (max-width: 768px) {
 
  
   .container {
    
     margin-bottom: 0;
     margin-left: 0;
     display: flex;
   }
   
   

   .centered-text {
     text-align: center;
     font-weight: 600;
     font-size: 15px;
     
   }
  
   .h2{
     text-align: center;
 
     font-size: 20px;
   }
   
   .table1 {
    
     width: 100%;
     
   
   
   }
   
   
   .table2 {
   
    width: 100%;
     flex: 1; /* set width of right column */
     background-color: #fff;
     border-collapse: collapse;
     border-style: inset; /* add beveled border */
     border-width: 5px;
   }
   .table1 th{
     width: 200px;
   }
   .table3 th,
   .table3 td,
   .table1 th,
   .table1 td,
   .table2 th,
   .table2 td {
     padding: 0.75rem;
    
     vertical-align: top;
     border-top: 1px solid #dee2e6;
   }
   .navbar {
     height: 50px;
   }
   
   .table1 th {
     text-align: center;
     font-size: 15px;
   }
   .table3 th{
    text-align: center;
    font-size: 15px;
   }
   
   .table1 td {
     text-align: left;
   }
   
   .table2 th {
     text-align: center;
     font-size: 15px;
     
   }
   
   .table2 td {
     text-align: center;
     font-size: 15px;
   }
   .archive{
     margin-left:2rem;
     
   }
   
   .btn {
    
     font-size: smaller;
   }
   .upload-btn{
     height:20px;
   }
   
   .row{
     margin-top: -10px;
     width: 100rem;
   }
   .table3{
    text-align: center;
   }
  
}