body{
  overflow: hidden;
}

.container {
  background-color: #feffff;
  padding-top: 10px;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-left: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .add{
  
    margin-left: 30rem;
  }
  .addtable{
    
    margin-left: 30rem;
  }
  .tab2{
  width: 60rem;
  }
  .centered-text {
    text-align: center;
    font-weight: 600;
    
  }
  
  .thick-border {
    border-width: 1px;
    border-color: black;
  }
  .table1 {
   
    width: 45rem;
    flex: 0 1 30%; /* set width of left column */
  
    background-color: #fff;
    border-collapse: collapse;
    border-style: inset; /* add beveled border */
    border-width: 5px;
  
  
  }
  .smol{ 
  
    font-weight: bold;
    width: fit-content;
  }
  
  .table2 {
  
    width: 22rem;
    flex: 1; /* set width of right column */
    background-color: #fff;
    border-collapse: collapse;
    border-style: inset; /* add beveled border */
    border-width: 5px;
  }
  .table1 th{
    width: 200px;
  }
  .table1 th,
  .table1 td,
  .table2 th,
  .table2 td {
    padding: 0.75rem;
   
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table1 th {
    text-align: center;
  }
  
  .table1 td {
    text-align: left;
  }
  
  .table2 th {
    text-align: center;
  }
  
  .table2 td {
    text-align: left;
  }
  .archive{
    margin-left:2rem;
    
  }
  
  .btn {
   
    font-size: smaller;
  }
  .upload-btn{
    height:35px;
  }
  
  .row{
    width: 100rem;
  }


  